.df{
    width: 1000px;
    height: 500px;
    background: rgb(161, 129, 129);
    overflow: hidden;
    position: relative;
}
.fasd{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}
.carts
{
    width: 400%;
    height: 500px;
    background: rgb(29, 10, 10);
    
    display: flex;
    transition: 0.8s;
}
.cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    width: 1000px;
    height: 500px;
    background: rgb(126, 31, 31);
}
.arrowl
{
    position: absolute;
    left: 0;
}
.arrowr
{
    position: absolute;
    right: 0;
}
.arr
{ 
    top:45%;
    font-size: 80px;
    color: white;
    z-index: 2;
    opacity: .5;
    cursor: pointer;
}